# === GUI Guider Specifics ===
# These are recreated whenever you "Generate Code" or build
Data-Structures-On-LPC/generated/
Data-Structures-On-LPC/temp/
Data-Structures-On-LPC/import/
Data-Structures-On-LPC/lvgl-simulator/

# === MCUXpresso / Eclipse IDE Metadata ===
# These contain local paths specific to your computer
.metadata/
.mcuxpressoide_packages_support/
**/.settings/
**/debug/
**/release/

# === Debugger Artifacts ===
# Logs generated during Task Aware Debugging (TAD)
*RTOS_TAD_logs/

# === Build Artifacts ===
# Compiled binaries and map files
*.axf
*.bin
*.map
*.o
*.d